.card {
   padding: 12px; 
   width: 250px;
   height: 264px;
   background: $background-1;
   border: 1px solid $white;
   box-shadow: 0px 10px 40px $box-shadow-card;
   border-radius: 18px;

    .card-img {
        border-radius: 12px;
        margin-bottom: 12px;
    }

    .card-bloc-price {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    .card-name {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        margin: 0;
        width: 119px;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 20px;
        white-space: nowrap;
    }

    .card-price {
        color: $text-1;
    }

    .card-description {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $text-1;
        margin: 0;
        text-overflow:ellipsis;
        overflow:hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        white-space: normal;
        max-height: 54px;
    }
}