$primary: #00BA88;
$white: #FFFFFF;

/* Text */
$text-1:#6E7191;

/* Background */
$background-body: #E5E5E5;
$background-1: rgba(255, 255, 255, 0.6);

/* Box shadow */
$box-shadow-header: rgba(65, 67, 78, 0.1);
$box-shadow-card: rgba(0, 0, 0, 0.15);

/* Border */
$border-1: #D6D8E7